* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  font-family: "Helvetica Neue";
  flex-direction: column;
}
body > div {
  margin: auto;
}

/* Block */
.btn {
  display: inline-block;
  text-decoration: none;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 10px 48px;
  border-radius: 30px;
  cursor: pointer;
  min-width: 120px;
  /* Them hieu ung transition cho opacity khi hover */
  transition: opacity 0.2s linear;
}

.btn--size-l {
    padding: 18px 60px;
}

.btn--size-s {
    padding: 8px auto;
}
/* CSS cho btn bên cạnh button khác
 => ở TH này là btn warning và danger */
.btn + .btn {
    margin-left: 20px;
}

/* Them hover effect */

.btn:hover {
    opacity: 0.7;
}

.btn--success {
  background-color: #71be34;
}

/* Them disable */
.btn--disabled {
    opacity: 0.5 !important;
    cursor: default;
}


.btn--warning {
  background-color: #ffb702;
}

.btn--danger {
  background-color: #ff632d;
}
